.Button {
    background-color: cornflowerblue;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    font-family: Tahoma;
}
    .Button:hover {
        background-color: rgb(54,118,232);
        color: white;
        border: thick;
    }
    
    .Img
    {
        width: 500px;
        height: 375px;
    }

.container {
    display: flex;
    align-items: flex-start;
    margin-top: 2%;
    margin-left: 21.5%;
    margin-bottom: 2%;
    
}

.linkBtn {
    margin-right: 15.7%;
    font-size: large;
    text-decoration: none;
    color:black;
    border : 1px solid black;
    padding : 1%;
}


