.Button {
    border-color: #4D94FF;
    background-color: white;
    color: #284E98;
}
    .Button:hover {
        background-color: rgb(54,118,232);
        color: white;
        border: thick;
    }

.Img {
    width: 500px;
    height: 375px;
    border: 5px solid black;
    background-color: #C4A484;
    padding: 5%;
}
.frame {
    border: 5px solid black;
    border-top: none;
    padding: 5%;
    background-color: #C4A484;
}

.container {
    display: flex;
    align-items: flex-start;
    margin-left:22%;
    padding-top :5%;
    
}

.linkBtn {
    margin-right: 16%;
    font-size: large;
    text-decoration: none;
    border: 1px solid #4D94FF  ;
    background-color: white;
    color: #284E98;
    padding: 1%;
}


