
.container {
    position: relative;
    text-align: center;
    color: white;
    max-width: inherit;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
a {
    font-size: 36px;
    font-style: normal;
    color: #FFFFFF;
}

a:hover {
    color: #717171;
}