.header {
    background-color: black;
    padding: 10px;
    margin: -10px -10px 0px -10px
}
.TopMenuBar {
    margin-top:-80px;
    margin-left: auto;
    margin-right: auto;
}

    .TopMenuBar tr {
        float: left;
        list-style: none;
    }

    .TopMenuBar a {
        display: inline-block;
        color: rgb(100,149,237);
        text-align: center;
        padding: 20px 32px; /*change hover box size*/
        text-decoration: none;
        font-size: 18px
    }

    .TopMenuBar a:hover {
        background-color: rgb(150,150,150);
        color: rgb(255,255,255);
    }

body {
    background-color:white;
}

.footer {
    margin:0px -10px 0px -10px;
    padding:2%;
    background-color:gold;
}