#TopMenuBar {
    width: 573px;
    float: right;
    margin-top: 10px;
}

    #TopMenuBar tr {
        float: right;
        list-style: none;
        margin: 0px;
    }

    #TopMenuBar td {
        float: left;
        height: 50px;
        width: auto;
    }

    #TopMenuBar a {
        display: inline-block;
        color: rgb(90,90,90);
        text-align: center;
        padding: 30px 32px;
        padding-right: 50px;
        text-decoration: none;
        font-size: 18px
    }

        #TopMenuBar a:link, #TopMenuBar a:visited {
            display: block;
            padding: 28px 10px 0px;
            height: 50px;
            font-family: Arial;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            text-decoration: none;
            font-weight: normal;
            background: none;
            color: #20C8F4;
        }

        #TopMenuBar a:hover, #TopMenuBar a:active {
            background-color: rgb(150,150,150);
        }
