.TopMenuBar {
    margin-left: 20%;
    margin-right: 20%;
}

    .TopMenuBar tr {
        float: left;
        list-style: none;
    }

    .TopMenuBar a {
        display: inline-block;
        color: rgb(100,149,237);
        text-align: center;
        padding: 20px 32px;
        text-decoration: none;
        font-size: 18px
    }

    .TopMenuBar a:hover {
        background-color: rgb(150,150,150);
        color: rgb(255,255,255);
    }
